
button {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  border-radius: 10px;
  min-height: 40px;
  min-width: 40px;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;

  &.color-transp {
    border: 1px solid #444444;

    &:hover {
      background-color: #00000030;
    }
  }

  svg {
    width: 20px;
    height: auto;
    max-height: 20px;
  }

  &.color-green {
    background-color: #20ad23;
    color: white;

    &:hover {
      background-color: #249327;
    }
  }

  &.color-gray {
    background-color: #7d7d7d;
    color: white;

    &:hover {
      background-color: #555555;
    }
  }

  &.color-blue {
    background-color: #0f6bc7;
    color: white;

    &:hover {
      background-color: #15608e;
    }
  }

  .button-icon {
    &.pos-right {
      margin-left: 1rem;
    }

    &.pos-left {
      margin-right: 1rem;
    }
  }
}

a.button {
  @extend button;
}

.icon-button {
  padding: 0.75rem;
}
