
.task-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #00000020;

  &:last-child {
    border-bottom: none;
  }

  .task-label.checked {
    text-decoration: line-through;
    color: #555555;
  }

  .task-label {
    flex: 1;
    max-width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.task-item.mock-up {

  .checkbox {
    background-color: #888;
    border: none;
  }

  .task-label {
    height: 30px;
    border-radius: 4px;
    background: linear-gradient(90deg, #55555555 25%, #cccccc55 50%, #55555555 75%);
    background-size: 400% 100%;
    animation: 1s mock-animate infinite linear;
    width: 70%;
    flex: none;
  }
}
