
.toast {
  width: 300px;
  height: 50px;
  border-radius: 10px;
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 1;

  > div {
    font-size: 18px;
  }
}

.toast.do-fade-out {
  animation: 1.5s fade-out linear forwards;
}

@keyframes fade-out {
  100% {
    opacity: 0;
  }
}
