html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-x: hidden;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  min-width: 500px;
  position: relative;
  display: flex;
  flex-direction: column;

  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-buttons {
      display: flex;
      grid-gap: 10px;
      margin-left: 10px;
    }
  }

  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    flex: 1;
  }
}

.card:hover,
.card:focus,
.card:active {
  h2 {
    color: #0070f3;
    border-color: #0070f3;
  }
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

.input-component {
  margin: 15px 0;
  width: 100%;
  position: relative;

  .input-label {
    position: absolute;
    left: 10px;
    padding: 2px 8px;
    border-radius: 4px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.2s;
    color: #909196;
    pointer-events: none;

    &.has-text {
      font-size: 12px;
      top: 0;
      background-color: white;
      color: black;
    }
  }

  input {
    border: 1px solid #909196;
    padding: 16px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
  }

  .dropdown {
    position: absolute;
    background-color: white;
    width: 100%;
    border: 1px solid #909196;
    display: none;
    z-index: 3;
    box-shadow: 0 1px 5px 1px #00000050;

    &.visible {
      display: block;
    }

    .dropdown-option {
      padding: 0.5rem;
      cursor: pointer;
      transition: 0.2s background-color;

      &:hover {
        background-color: #0070f3;
        color: white;
      }
    }
  }
}

.dual-input-container {
  display: flex;
  grid-gap: 8px;
  width: 100%;
  > * {
    flex: 1;
  }
}

.badge {
  height: 40px;
  width: 150px;
  border-radius: 35px;
  padding: 0.5rem 1rem;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  grid-gap: 10px;

  &.color-yellow {
    background-color: #ad7520;
  }

  &.color-green {
    background-color: #20ad23;
  }

  svg {
    width: 20px;
  }
}

.task-list, .bill-list {
  width: 100%;
}

hr {
  width: 100%;
}

.left-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1050px) {
  main {
    align-items: center;
    flex-direction: column;
  }
  .card {
    margin: 1rem auto;
  }
}

@media (max-width: 530px) {
  .card {
    border-radius: 0;

    .card-header {
      flex-direction: column;
      grid-gap: 10px;

      .header-buttons {
        margin: 0;
        width: 100%;
        justify-content: space-evenly;
        button {
          flex: 1;
        }
      }
    }
  }
}
