html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-x: hidden;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

.input-component {
  margin: 15px 0;
  width: 100%;
  position: relative;

  .input-label {
    position: absolute;
    left: 10px;
    padding: 2px 8px;
    border-radius: 4px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.2s;
    color: #909196;
    pointer-events: none;

    &.has-text {
      font-size: 12px;
      top: 0;
      background-color: white;
      color: black;
    }
  }

  input {
    border: 1px solid #909196;
    padding: 16px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
  }

  .dropdown {
    position: absolute;
    background-color: white;
    width: 100%;
    border: 1px solid #909196;
    display: none;
    z-index: 3;
    box-shadow: 0 1px 5px 1px #00000050;

    &.visible {
      display: block;
    }

    .dropdown-option {
      padding: 0.5rem;
      cursor: pointer;
      transition: 0.2s background-color;

      &:hover {
        background-color: #0070f3;
        color: white;
      }
    }
  }
}

.dual-input-container {
  display: flex;
  grid-gap: 8px;
  width: 100%;

  > * {
    flex: 1;
  }
}

.badge {
  height: 40px;
  width: 150px;
  border-radius: 35px;
  padding: 0.5rem 1rem;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  grid-gap: 10px;

  &.color-yellow {
    background-color: #ad7520;
  }

  &.color-green {
    background-color: #20ad23;
  }

  svg {
    width: 20px;
  }
}

.task-list, .bill-list {
  width: 100%;
}

.filter-section {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  grid-gap: 10px;
  max-height: 40vh;

  .filter-item-list {
    overflow-y: auto;
    width: 100%;
  }

  h3 {
    margin: 0;
  }
}

.filter-item {
  //width: 100%;
  display: flex;
  align-items: center;
  margin: 0.25rem 0;
  cursor: pointer;
  user-select: none;

  .filter-label.checked {
    font-weight: bold;
  }

  &:last-child {
    margin-bottom: 1rem;
  }
}

.checkbox {
  width: 30px;
  height: 30px;
  border: 1px solid #444444;
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 10px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &.checked {
    background-color: #444;
  }
}

hr {
  width: 100%;
}

.chart-mock-up {
  display: block;
  box-sizing: border-box;
  height: 245px;
  width: 490px;
  aspect-ratio: auto 490 / 245;
  border-radius: 8px;
  background: linear-gradient(90deg, #55555555 25%, #cccccc55 50%, #55555555 75%);
  background-size: 400% 100%;
  animation: 1s mock-animate infinite linear;
}

.crumb-container {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 5px;
  width: 450px;

  .crumb {
    font-size: 14px;
    background-color: #909196;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    grid-gap: 10px;
    cursor: pointer;

    svg {
      height: 14px;
    }
  }
}

.progress-bar-container {
  background-color: #909196;
  width: 95%;
  height: 30px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 5px 2px #00000050;
  margin: 1rem 0;
  color: white;
  position: relative;

  .perc-display {
    background-color: #00000070;
    padding: 0 0.5rem;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    white-space: nowrap;
  }

  .bar {
    background: linear-gradient(-33deg, rgb(34, 158, 1) 25%, rgb(52, 255, 0) 50%, rgb(34, 158, 1) 75%);
    background-size: 400% 100%;
    animation: 3s mock-animate infinite linear;
    height: inherit;
    border-right: 2px solid white;
    transition: 0.5s width;

    &.borderless {
      border: 0;
    }
  }
}

.sorting-container {
  border-bottom: 1px solid #555555;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  margin-bottom: 1rem;

  .sort-item {
    background-color: #ccc;
    padding: 0.1rem 0.5rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    grid-gap: 10px;
    cursor: pointer;
    user-select: none;

    &.active {
      color: white;
      background-color: #6fa7ea;
    }

    svg {
      height: 20px;
      width: auto;
    }
  }
}

@media (max-width: 1050px) {
  main {
    align-items: center;
    flex-direction: column-reverse;
  }
}

@media (max-width: 530px) {
  .left-panel {
    width: 100%;
  }
}
